main input, button {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
}

main button {
    cursor: pointer;
    background: none;
}
main form{
    width:100%;
    height:100%;
    align-items:center;
    justify-content:center;
    display:flex;
    gap:15px;
    flex-direction:column;
}

main form input {
    display: block;
    background-color: #222222;
    color: #bababa;
    font-size: 14px;
    height: 60px;
    padding: 0 20px;
    width: 400px;
}

main form button {
    width: 400px;
    display: flex;
    font-size: 14px;
    background: linear-gradient(to right,#01C29A, #85C883, #E2CE72);
    justify-content: space-between;
    align-items: center;
    height: 60px;
    gap: 25px;
}


@media only screen and (max-width:1023px) {

        main form button, main form input {
            width: 100%;
            height:56px;
        }
}