<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <link href="/css/certifica.css" rel="stylesheet">
</head>
<body>

    <div class="sec-1">
    </div>
    <div class="sec-2">
        <div class="col-1">
            Oeklab
        </div>
        <div class="col-2">
            Katılım Sertifikası
        </div>
        <div class="row">
            <div class="col-3">
                Vedat Aygün
            </div>
            <div class="col-4">
                Teknoloji Yenilik Konferansı
            </div>
        </div>

        <div class="date">
            24.05.2023
        </div>

    </div>


</body>

</html>