
@{
    ViewData["Title"] = "Admin Sifre Yenileme Sayfası";
    ViewBag.Navigation = "Şifre Değiştir";
    Layout = "_Admin-Layout";
}

@section css{
    <link href="~/css/admin/admin-passwordreset.css" rel="stylesheet" />
}

<form action="/admin/PasswordReset" method="post">
    
    <input type="password" name="oldPassword"  placeholder="Eski Şifre"/>
    <input type="password" name="newPassword" placeholder="Yeni Şifre" />
    <input type="password" name="newPasswordAgain" placeholder="Yeni Şifre Tekrar" />
     <button type="submit">
                Güncelle
                <i class="fa-solid fa-arrow-right"></i>
            </button>
    
</form>

